[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"

[packages]
python-daemon = "*"
fire = "*"
python-lzo = "*"

[requires]
python_version = "3.8"
